.app-container {
  max-width: 1200px;
  margin: 0 auto;

  padding: 20px;
  display: flex;
  flex-direction: column;


  /* Responsive styles */
  @media screen and (max-width: 768px) {
    padding: 10px;
  }

  @media screen and (max-width: 480px) {
    padding: 5px;
  }
}